<div class="d-flex mb-4">
  <div class="message-container" id="message-<%= message.id %>">
    <i class="author">
      <%= cl_image_tag(message.user.photo.key, transformation:[{quality: :auto, fetch_format: :auto, width: 150, height: 150, crop: :thumb, gravity: :face}], class: "avatar-large") %>
      <small><%= message.created_at.strftime("%d.%m.%Y à %Hh%M") %></small>
    </i>
    <p><%= message.content %></p>
  </div>
</div>
