<li>
  <%= link_to group_path(group), class: "no-text-decoration" do %>
    <div class="mt-2 position-relative d-flex align-items-center">
      <%= cl_image_tag(group.activity.photo.key, transformation: [{ quality: :auto, fetch_format: :auto, crop: :fill, width: 150, height: 150 }], class: "avatar-large mr-3") %>
      <% if group.unread?(current_user) %>
        <div class="d-flex justify-content-center align-items-center px-1 m-0 rounded position-absolute" style="background-color:#F6FBFB;top:0px;left:41px;">
          <i class="fas fa-envelope text-xsmall text-color-secondary"></i>
        </div>
      <% end %>
      <div class="flex-grow-1">
        <span><%= "#{group.name}" %></span>
      </div>
    </div>
  <% end %>
</li>
