<div class="white-box col-md-4 mx-4">
  <h3>Mes conversations</h3>
  <% @groups.each do |group| %>
     <ul>
      <li>
        <% if group.group? %>
          <%= link_to cl_image_tag(group.photo.key, transformation:[{quality: :auto, fetch_format: :auto, width: 150, height: 150}], class: "avatar-large"), group_path(group) %>
          <%= link_to "#{group.name}", group_path(group) %>
        <% end %>
      </li>
    </ul>
    <ul>
      <li>
        <% unless group.group? %>
          <%= cl_image_tag(group.memberships.where.not( user: current_user).first.user.photo.key, transformation:[{quality: :auto, fetch_format: :auto, width: 150, height: 150, crop: :thumb, gravity: :face}], class: "avatar-large") %>
          <%= link_to "#{group.memberships.where.not( user: current_user).first.user.nickname }", group_path(group) %>
        <% end %>
      </li>
    </ul>
  <% end %>
</div>
