<div class="one-box-screen d-flex">
  <div class=" box-max-height" style="width:400px;">
    <%= render "chat_menu", group: @group, messages: @messages, message: @message %>
  </div>
  <div class="white-box-max-height flex-grow-1">
    <%= cl_image_tag("undraw_Messaging_re_pgx8_1_ythxuy", class: "img-fluid") %>
  </div>
</div>


