<div class="one-box-screen d-flex">
  <div class=" box-max-height" style="width:250px;">
    <%= render "chat_menu", group: @group, messages: @messages, message: @message %>
  </div>
  <div class="white-box-max-height flex-grow-1">
    <%= render "chat_content", group: @group, messages: @messages, message: @message %>
  </div>
</div>



