<div class="container">
  <div class="row justify-content-center">
    <div class="white-box col-md-4 mx-4">
      <h3>Mes groupes de conversation</h3>
        <% @groups.each do |group| %>
          <ul>
          <li><%= link_to "#{group.name}", group_path(group) %></li>
          </ul>
      <% end %>
    </div>
    <div class="white-box col-md-6">
      <%= render "chat_content", group: @group, messages: @messages, message: @message %>
    </div>
  </div>
</div>

