<li class="user-card">
  <div class="photo avatar-large">
    <%= cl_image_tag(activity.photo.key,  width: 150, height: 150, class: "avatar-large") %>
  </div>
  <div class="name text-medium d-flex align-items-center"><%= activity.name %></div>
  <%= link_to activity_path(activity) do %>
    <button class="btn btn-primary btn-lg">Voir détails</button>
  <% end %>
</li>
