<li class="user-card">
  <div class="photo avatar-large">
    <%= cl_image_tag(user.photo.key, transformation: [{ quality: :auto, fetch_format: :auto, width: 150, height: 150, crop: :thumb, gravity: :face }], class: "avatar-large") %>
  </div>

  <div class="name text-medium d-flex align-items-center">@<%= user.nickname %></div>
  <%= render partial: "shared/user_friendship_action", locals: { user: user } %>
</li>
