<div class="one-box-screen">
  <div class="white-box-max-height">

    <div class="tabs">
      <div class="tab active">Personnes</div>
      <div class="tab">Activités</div>
    </div>

    <ul class="user-cards scrollable h-100">
      <% @users.each do |user| %>
        <%= render partial: "shared/user-card", locals: { user: user } %>
      <% end %>
    </ul>

  </div>
</div>