<div class="content content-sign">
  <div class="container container-sign">
    <div class="contents col-sign">
      <h1>rechercher</h1>
      <div class="white-box">
        
        <div class="tabs">
          <div class="tab active">Personnes</div>
          <div class="tab">Activités</div>
        </div>

      </div>
    </div>
  </div>
</div>