.content-sign {
  padding-top: 1rem;
  a {
    color: $color-primary-500;
  }
}

.container-sign {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row-sign {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
}

.col-sign {
  position: relative;
  width: 100%;
  padding-right: 5px;
  padding-left: 5px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: $xxsmall-font-size;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: #ECEAFF;
  color: $color-secondary-500;
  border: 1px solid $color-secondary-500;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.tag-selector:checked + label {
  background-color: $color-secondary-500;
  color: $color-secondary-50;
}
