.chat {
      margin-top: auto;
      margin-bottom: auto;
    }

.card-footer{
    border-radius: 15px 15px !important;
    border-top: 0 !important;
    background-color: white;
  }

.card-body {
  flex-grow: 1;
  padding: 16px 0;
  overflow-y: scroll;
}

.card-header {
  background-color: white;
}
