.chat {
      margin-top: auto;
      margin-bottom: auto;
    }

.card-header {
      border-radius: 15px 15px !important;
      background-color: #EDE7F6;
    }

.card-footer{
    border-radius: 15px 15px !important;
    border-top: 0 !important;
    background-color: #EDE7F6;
  }
