.chat {
      margin-top: auto;
      margin-bottom: auto;
    }

.card-footer{
    border-radius: 15px 15px !important;
    border-top: 0 !important;
    background-color: white;
  }

.card-body {
  flex-grow: 1;
  padding: 16px 0;
  overflow-y: scroll;
}

.card-header {
  background-color: white;
  padding: 22px;
}

.transition {
  transition: .5s ease;
}

#chat-menu {
  min-width: 350px;
  width: 350px;
}

.chat-menu-close {
  width: 100px !important;
  min-width: 100px !important;
}

.chat-button-center {
  left:0;
  text-align: center;
}