ul.cards {
  flex-grow: 1;
  padding-left: 1em;
  padding-right: 1em;
}

li.user-card {
  display: flex;
  align-items: center;
  padding: 32px;
  border-bottom: 1px solid rgba($color-primary-900, 0.3);

  .photo {
    background-color: black;
  }

  .name {
    flex-grow: 1;
    margin-left: 24px;
  }
}

.cancel-hover {
  position: relative;
}
.cancel-hover > span {
  content: "En attente de validation";
}
.cancel-hover:hover > span {
  visibility: hidden;
}
.cancel-hover:hover:after {
  position: absolute;
  left: 0;
  right: 0;
  content: "Annuler demande";
}

.icon-user > .fa-user-times {
  display: none;
}
.icon-user:hover > .fa-user-times {
  display: block;
}
.icon-user > .fa-user-clock {
  display: block;
}
.icon-user:hover > .fa-user-clock {
  display: none;
}