<p>Bonjour <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nous vous contactons pour vous informer que votre adresse email est en train d'être changé de cette façon: <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nous vous contactons pour vous notifier que votre adresse email a été modifiée de cette façon: <%= @resource.email %>.</p>
<% end %>
