<div class="activity-name text-center pt-3">
  <% if @param %>
    <h1>Activités de : <%= @param %></h1>
  <% else %>
    <h1>Mes activités</h1>
<% end %>
</div>
<ul class="cards h-100">
  <% @activities.each do |activity| %>
    <%= render partial: "shared/activity_card", locals: { activity: activity } %>
  <% end %>
</ul>
