<div class="activity-name text-center pt-3">
  <% unless @param.nil? %>
    <h1>Activités de <%= @param %></h1>
  <% else %>
    <h1>Mes activités</h1>
<% end %>
</div>

<% if @activities.empty? %>
  <% unless @param.nil? %>
    <ul class="cards h-100">
      <li class="user-card">
        <div class="name text-medium d-flex align-items-center">
          <p class="m-0">
            Il n'y a pas d'activité pour cette catégorie.
          </p>
        </div>
        <%= link_to categories_path do %>
          <button class="btn button-outline-green my-0 mx-1">Découvrir d'autres catégories</button>
        <% end %>
      </li>
    </ul>
  <% else %>
    <ul class="cards h-100">
      <li class="user-card">
        <div class="name text-medium d-flex align-items-center">
          <p class="m-0">
            Vous n'avez pas encore créé d'activité. 
            Cliquez sur "Créer une activité" pour commencer
          </p>
        </div>
        <%= link_to new_activity_path do %>
          <button class="btn button-outline-green my-0 mx-1">Créer une activité</button>
        <% end %>
      </li>
    </ul>
  <% end %>
<% else %>
  <ul class="cards h-100">
    <% @activities.each do |activity| %>
      <%= render partial: "shared/activity_card", locals: { activity: activity } %>
    <% end %>
  </ul>
<% end %>
